---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import MetricsBar from '../components/MetricsBar.astro';
import Servicios from '../components/Servicios.astro';
import Obras from '../components/Obras.astro';
import Proceso from '../components/Proceso.astro';
import Diferenciadores from '../components/Diferenciadores.astro';
import Testimonios from '../components/Testimonios.astro';
import Nosotros from '../components/Nosotros.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import StickyContact from '../components/StickyContact.astro';
---

<Layout>
  <Header />
  <main id="contenido">
    <Hero />
    <MetricsBar />
    <Servicios />
    <Obras />
    <Proceso />
    <Diferenciadores />
    <Testimonios />
    <Nosotros />
    <Contacto />
  </main>
  <Footer />
  <StickyContact />
</Layout>
